<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>開會通知製作表單</title>
        <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
<body>
    <div class="row" style="margin: 10px">
        <div class="col-12" style="margin: 10px">
            <h3>開會通知快速製作表單</h3>
            <label>開會事由</label>
            <input type="text" id="meetName" class="form-control" />
            <br />
            <label>開會日期</label>
            <input type="date" id="datetime" value="" class="form-control" />
            <br />
            <label>開會時間</label>
            <input type="time" id="time" value="" class="form-control" />
            <br />
            <label>開會地點</label>
            <select id="loc" class="form-control">
                <option selected>第一會議室</option>
                <option>第二會議室</option>
                <option>第三會議室</option>
                <option>樂群堂</option>
                <option>活動中心</option>
                <option>國文領域教室</option>
                <option>英文領域教室A</option>
                <option>英文領域教室B</option>
                <option>數學領域教室</option>
            </select>
            <br />
            <label>會議主持人(姓名加職稱)</label>
            <input type="text" id="host" class="form-control" />
            <br />
            <label>聯絡人姓名</label>
            <input type="text" id="contact" class="form-control" />
            <br />
            <label>聯絡人電話</label>
            <input type="text" id="phone" class="form-control" />
            <br />
            <label>討論事由</label>
            <textarea name="discuss" id="discuss" class="form-control"></textarea>
            <br />
            <label>出席者(用、隔開)</label>
            <input type="text" id="attendees" class="form-control" />
            <br />
            <label>列席者(用、隔開；無則打無)</label>
            <input type="text" id="audience" class="form-control" />
            <br />
            <label>備註</label>
            <input type="text" id="remark" class="form-control" />
            <br />
            <button class="btn btn-success btn-block" id="sure">產生開會通知</button>
        </div>
    </div>
    <script>
        function initialize(){
            var liffID = '1656947329-lpkV9NLP';
            liff.init({
                liffId: liffID
            }).then(function() {
            // 這邊開始寫使用其他功能
            console.log('LIFF init');
                if(!liff.isLoggedIn()){
                    liff.login()
                };
                alert("初始化成功！\n麻煩您填寫完整後再按下產生開會通知的按鈕哦！");
            }
        }
        function pushMsg(meetName,datetime,time,loc,host,contact,phone,discuss,attendees,audience,remark) {
                var Msg = "建立會議通知："
                    Msg = Msg+meetName+";"
                    Msg = Msg+datetime+";"
                    Msg = Msg+time+";"
                    Msg = Msg+loc+";"
                    Msg = Msg+host+";"
                    Msg = Msg+contact+";"
                    Msg = Msg+phone+";"
                    Msg = Msg+discuss+";"
                    Msg = Msg+attendees+";"
                    Msg = Msg+audience+";"
                    Msg = Msg+remark
                    
                    liff.sendMessages([
                        {
                            type: "text",
                            text: Msg,
                        },
                    ]).then(() => {
                        console.log("message sent");
                        liff.closeWindow();
                    })
        }
        $('#sure').click(function (e) {  //按下確定鈕
                 pushMsg($('#meetName').val(), $('#datetime').val(), $('#time').val(), $('#loc').val(), $('#host').val(), $('#contact').val(), $('#phone').val(), $('#discuss').val(), $('#attendees').val(), $('#audience').val(), $('#remark').val());
        });
    </script>
</body>
</html>