<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>test LIFF</title>
        <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    </head>
    <body>
        <h1>Hello World!</h1>
        <script>
            var liffID = '1656947329-lpkV9NLP';

            liff.init({
                liffId: liffID
            }).then(function() {
            // 這邊開始寫使用其他功能
            console.log('LIFF init');
            if(!liff.isLoggedIn()){
                liff.login()
            };
            alert("初始化成功！");
            var accessToken = liff.getDecodedIDToken()
            /*var xhr = new XMLHttpRequest();
            xhr.open("POST", yourUrl, true);
            xhr.onreadystatechange = function () {
                if (this.readyState != 4) return;

                if (this.status == 200) {
                    var data = JSON.parse(this.responseText);
                }
            }
            */
            alert(accessToken);
            }).catch(function(error) {
                console.log(error);
            });
        </script>
    </body>
</html>