<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>虹橋系統官方帳號快速登入</title>
        <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="row" style="margin: 10px">
            <div class="col-12" style="margin: 10px">
                <h3>虹橋系統官方帳號快速登入</h3>
                <label>功能跳轉</label>
                <select id="loc" class="form-control">
                    <option selected>首頁</option>
                    <option>點名(手機版)</option>
                    <option>獎懲</option>
                    <option>請假</option>
                </select>
                <br />
                <button class="btn btn-success btn-block" id="sure">確定</button>
                <h3 id="loginlabel">等待選擇頁面…</h3>
                <a href="http://www.google.com/" id="link">
                    <input type="button" disabled="disabled" class="btn btn-success btn-block" id="login" value="進入系統">
                 </a>
            </div>
        </div>
        <script>
            function getReturnUrl(UserID="",loc=""){
                fetch('https://desktop.github.com/', {method: 'get'})
                .then((response) => {
	                console.log(response);
	                return response.json();   //回傳的為 ReadableStream 物件，所以用json()轉換格式
                }).catch((err) => {
	                console.log(err);
                })
            }
            function makeButtonOn(loc,link) {
                const loginlabel = document.getElementById("loginlabel")
                loginlabel.innerHTML = "請點擊下方按鈕進入虹橋系統"+loc
                const link_a = document.getElementById("link")
                link_a.href = link
                const button = document.getElementById("login")
                button.disabled = false;
            }
            function initialize(){
            var liffID = '1656947329-lpkV9NLP';
            liff.init({
                liffId: liffID
            }).then(function() {
            // 這邊開始寫使用其他功能
            console.log('LIFF init');
            if(!liff.isLoggedIn()){
                liff.login()
            };
            alert("初始化成功！\n若非本人使用此登入功能，將負相關法律責任！");
            const idToken = liff.getDecodedIDToken();
            const UserID = idToken["sub"]
            /*var xhr = new XMLHttpRequest();
            xhr.open("POST", yourUrl, true);
            xhr.onreadystatechange = function () {
                if (this.readyState != 4) return;

                if (this.status == 200) {
                    var data = JSON.parse(this.responseText);
                }
            }
            */
            }).catch(function(error) {
                console.log(error);
            });}
            function pushMsg(loc) {
                var Msg = "虹橋登入："
                    Msg = Msg+loc
                    liff.sendMessages([
                        {
                            type: "text",
                            text: Msg,
                        },
                    ]).then(() => {
                        console.log("message sent");
                        liff.closeWindow();
                    })
            }
            $('#sure').click(function (e) {  //按下確定鈕
                makeButtonOn($('#loc').val(),"https://github.com/");
                getReturnUrl()
            });
        </script>
    </body>
</html>